#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.class1 {
  background-color: red;
  width: 50px !important;
  
}

.class2 {
  background-color: blue;
  width: 50px !important;
}

.class3 {
  background-color: green;
  width: 50px !important;
  height: 40px;
}

.class4 {
  background-color: yellow;
  width: 50px !important;
  height: 40px;
}
